/*Css creado por Manel para algunos divs*/
/* Texto de indice.html */
.paragraph1 {
    margin-top: 10%;
    text-align: center;
}
/* Fondo de indice.html , about y contact */
.div1 {
    margin-top: 100px;
    background:url(../images/wallpaper.jpg);
    width: 100%;
    height:100%;
    position:fixed;
}
/* Fondo de user.html */
.div2 {
    margin-top: 100px;
    background:url(../images/wallpaper2.jpg);
    width: 100%;
    height:100%;
    position:fixed;
}
/* Fondo de operaciones.html */
.div3 {
    margin-top: 100px;
    background:url(../images/wallpaper2.jpg);
    width: 100%;
    height:100%;
    position:relative;
}
/* boton redondo*/
.btn2 {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}
.btn-xl {
    padding: 15px 30px;
}
.registrar-jumbo{
    margin-left: 30%;
    margin-right: 30%;
    align-self: center;
    align-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
}