/*Css creado por Manel para algunos divs*/
/* Texto de indice.html */
.paragraph1 {
    margin-top: 10%;
    text-align: center;
}
/* Fondo de indice.html */
.div1 {
    background:url(../images/wallpaper.jpg);
    background-size:cover;
    width: 100%;
    height:100%;
    position:fixed;
}
/* Fondo de user.html, about y contact */
.div2 {
    margin-top: 100px;
    background:url(../images/wallpaper2.jpg);
    background-size:cover;
    width: 100%;
    height:100%;
    position:fixed;
}
/* Fondo de operaciones */
.div3 {
    margin-top: 100px;
    background:url(../images/wallpaper2.jpg);
    width: 100%;
    height:100%;
    position:relative;
}
/* Fondo de studentsAsig, professorAsig y chat */
.div4 {
    margin-top: 50px;
    background:url(../images/wallpaper3.jpg);
    background-size:cover;
    width: 100%;
    height:100%;
    position:fixed;
}
/* Fondo de studentsHome, professorHome */
.div5 {
    margin-top: 50px;
    background:url(../images/wallpaper3.jpg);
    background-size:cover;
    width: 100%;
    height:100%;
    position:relative;
}
/* boton redondo*/
.btn2 {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}
.btnTrans {
    background-color: transparent;
    border: solid;
    border-color: rgba(255, 135, 0, 0.42);
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}
.btn-xl {
    padding: 15px 30px;
}
.registrar-jumbo{
    margin-left: 30%;
    margin-right: 30%;
    align-self: center;
    align-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
}
.transparent-jumbo{
    background: rgba(255, 255, 255, 0.35);
}
.transparent-jumbo2{
    background: rgba(255, 255, 255, 0.6);
}
.checks-propios{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
    text-align: left;
    align-content: left;
    padding: 0%;
    margin: 0%;
    background: rgba(255, 255, 255, 0);
}
.dif-button {
    outline: 0;
    background: #0098ef;
    width: 100%;
    border: 0;
    padding: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.message {
    margin: 15px 0 0;
    color: #777777;
    font-size: 12px;
}