<div class="div4">
    <div class="container">
        <br>
        <br>
        <div style="overflow-y:scroll; height: 350px;width: 500px; margin: 15px" class="col-lg-6 well">
            <legend>Chat</legend>
            <ul id="messages"></ul>
        </div>
        <div style="overflow-y:scroll; right: 0; height: 200px;width: 300px; margin: 15px" class="col-lg-10 well">
            <legend>Usuarios Conectados</legend>
            <p ng-repeat="user in users"></p>
        </div>
        <form class="col-lg-10" ng-submit=enviaChat(m)>
            <input class="form-control" ng-model="m" placeholder="Escribe tu mensaje"/>
            <button style="margin-top: 5px" class="btn2 btn-default btn">Enviar</button>
        </form>
    </div>
</div>