<div class="div1">
    <div class="container">
        <br>
        <br>
        <div class="jumbotron">
            <h1>Contact</h1>
            <p>Para cualquier duda o problema póngase en contacto con el administrador.<br>
                <br>
                Administrador: Manel Méndez, Maksym Pryschepa<br>
                <br>
                Correo: <a href="mailto:maneeel93@gmail.com">maneeel93@gmail.com</a><br>
            </p>
        </div>
        <p align="center">&copy; 2016 Todos los derechos reservados</p>
    </div>
</div>