<div class="div1">
    <div class="container">
        <div style="float: right; margin: 5px">
            <button ui-sref="registrar" class="btnTrans btn">REGISTRAR</button>
            <button ui-sref="login" class="btnTrans btn">INICIAR SESIÓN</button>
        </div>
        <div class="paragraph1">
            <p style="font-size: 150px" >WELCOME</p>
            <div style="margin-bottom: 100px">
                <button ng-click="clicked()" class="btn2 btn-default btn-xl">Get Started!</button>
            </div>
            <p style="bottom: 0">&copy; 2016 Todos los derechos reservados</p>
        </div>
    </div>
</div>