<div class="div4" ng-init="cargaMensajes()">
    <div class="container" style="margin:5%" layout="column" flex layout-fill ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">Mensajes Recibidos</div>
            </md-toolbar>
            <md-content style="height: 450px;" md-theme="altTheme">
                <section>
                    <md-subheader class="md-primary">Mensajes no leidos</md-subheader>
                    <md-list layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="mensaje in mensajesNoLeidos">
                            <div class="md-list-item-text">
                                <h3>Mensaje de:</h3>
                                <h4>{{mensaje.sendName}}</h4>
                                <p>Fecha: {{mensaje.fecha}}</p>
                            </div>
                            <md-button class="md-secondary" ng-click="abrirMsg(mensaje._id)" ui-sref="mensaje({id:mensaje._id, name:mensaje.recName})">Abrir</md-button>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
                <section>
                    <md-subheader class="md-primary">Mensajes leidos</md-subheader>
                    <md-list layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="mensaj in mensajesLeidos">
                            <div class="md-list-item-text">
                                <h3>Mensaje de:</h3>
                                <h4>{{mensaj.sendName}}</h4>
                                <p>Fecha: {{mensaj.fecha}}</p>
                            </div>
                            <md-button class="md-secondary" ng-click="leerMsg(mensaj._id)" ui-sref="mensaje({id:mensaj._id, name:mensaj.recName})">Abrir</md-button>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
    </div>
</div>