<div class="div4">
    <div class="container" style="margin:5%" layout="column" flex layout-fill ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">Mensaje</div>
            </md-toolbar>
            <md-content style="height: 450px;" md-theme="altTheme">
                <section>
                    <md-list layout-padding>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Mensaje de:</h3>
                                <h4>{{ver.sendName}}</h4>
                                <p>{{ver.mensaje}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
    </div>
</div>