<div class="div2">
    <div class="container">
        <br>
        <br>
        <div class="jumbotron registrar-jumbo">
            <h3>Perfil</h3>
            <div class="form-group" ng-class="[{'has-error':validaMail=='incorrecto'}]">
                <h5 class="control-label" for="ponerEmail">E-mail</h5>
                <input type="email" style="text-align: center" class="form-control" id="ponerEmail" placeholder="Debes poner un email válido" required ng-model="logUser.email" >
            </div>
            <div class="form-group" ng-class="[{'has-error':validaPassword=='incorrecto'}]">
                <h5 class="control-label" for="ponerPassword">Contraseña</h5>
                <input type="password" style="text-align: center" class="form-control" id="ponerPassword" placeholder="Escribe tu contraseña" required ng-model="logUser.password">
            </div>
            <div class="form-group">
                <button class="dif-button" ng-click="login(logUser)">Enviar mensaje privado</button>
            </div>
            <p class="message">Quieres ir a tu perfil? <a ui-sref="registrar">Adelante</a></p>
        </div>
        <p align="center">&copy; 2016 Todos los derechos reservados</p>
    </div>
</div>