<div ng-init="cargaPerfil()">
    <div class="div2">
        <div class="container">
            <br>
            <br>
            <div class="jumbotron registrar-jumbo">
                <h3>Perfil</h3>
                <div class="form-group">
                    <h4>Nombre</h4>
                    <h6>{{userProfile.nombre}}</h6>
                </div>
                <div class="form-group">
                    <h4>Email</h4>
                    <h6>{{userProfile.email}}</h6>
                </div>
                <div class="form-group">
                    <h4 class="control-label">Asignaturas</h4>
                    <h6 ng-repeat="asignatura in userProfile.asignaturas">{{asignatura}}</h6>
                </div>
                <div class="form-group">
                    <button class="dif-button" data-toggle="modal" data-target="#myModal">Enviar mensaje privado</button>
                    <p class="message">Ver tus mensajes recibidos. <a ui-sref="login">Aquí</a></p>
                </div>
            </div>
            <p align="center">&copy; 2016 Todos los derechos reservados</p>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog" style="height: 200px; width: 500px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enviar Mensaje a {{userProfile.nombre}}</h4>
                </div>
                <div class="modal-body">
                    <textarea style="height: 200px; width: 435px; resize: none;" class="form-control" id="ponerMensaje" placeholder="Introduce aquí el mensaje" required ng-model="envioMensaje"></textarea>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendMessage(envioMensaje, userProfile.nombre)">Enviar</a>
                    <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>