<div class="div4">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="sharedsecret">Secreto Compartido</h1>
                </div>
            </div>
        </div>
        <div class="jumbotron text-center">
            <div class="jumbotron transparent-jumbo">
                <h3>Página recuperación de un secreto compartido</h3>
                <br>
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>