<div class="div4">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="sharedsecret">Secreto Compartido</h1>
                </div>
            </div>
        </div>
        <div class="jumbotron transparent-jumbo">
            <h3>Página creación de Secreto Compartido</h3>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <form name="myForm">
                            <p>{{ message }}</p>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg text-center" placeholder="Secreto"
                                       ng-model="secreto" required>
                                <br>
                                <input type="number" class="form-control input-lg text-center"
                                       placeholder="Número de trozos (+1)" ng-model="n" required>
                                <br>
                                <input type="number" class="form-control input-lg text-center"
                                       placeholder="Umbral de cooperación (+1)" ng-model="t" required>
                            </div>
                            <button type="submit" class="dif-button" ng-click="registrar()">Crear claves
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-3">
                        <table class="table table-striped" style='table-layout:fixed'>
                            <tr class="info">
                                <td>Nº share</td>
                                <td></td>
                                <td> Shares</td>
                            </tr>
                            <tr ng-repeat="share in shares">
                                <td>{{ $index + 1 }}</td>
                                <td class="estilo">{{share}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 text-center">
                        <form name="myForm">
                            <p>{{ message }}</p>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg text-center" placeholder="Trozo"
                                       ng-model="trozo" required>
                                <br>
                            </div>
                            <table class="table table-striped" cellspacing="10" cellpadding="10" border="3">
                                <tr class="info">
                                </tr>
                                <tr ng-repeat="trozo in trozos">
                                    <td class="estilo">{{ trozo }}</td>
                                </tr>
                            </table>
                            <button type="submit" class="dif-button" ng-click="addShare()">Añadir share
                            </button>
                            <button type="submit" class="dif-button" ng-click="combine()">Combinar</button>
                        </form>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <table class="table table-striped" cellspacing="10" cellpadding="10" border="3">
                            <tr class="info">
                                <td>Secreto resuperado:</td>
                            </tr>
                            <tr class="info">
                                <td>{{ comb }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>