<div class="div4">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="asignaturas">{{subject}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                    <button class="btn2 btn-default btn-xl" ui-sref="chat({id:subject})">Crear chat individual con profesor</button>
                </div>
                <div class="col-lg-6">
                    <div class="jumbotron transparent-jumbo">
                        <h3>Lista de chats pendientes por votar:</h3>
                        <p ng-repeat="chat in chats" >- Chat "{{chat.nombre}}" creado por: {{chat.creador}}  <button class="btn2 btn-default btn" ng-click="getBlindEncryption()">Votar</button></p>
                    </div>
                        <br>
                    <div class="jumbotron transparent-jumbo">
                        <h3>Lista de chats votados:</h3>
                    </div>
                </div>
        </div>
    </div>
</div>